h1 {
  color: white;
  background-color: black;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-style: normal;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  font-style: solid;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
}

.relatedProductsContainer {
  overflow-x: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
  margin: 10px;
}
.cardImage {
  margin: 0px;
}

.cardText {
  margin: 0px;
}

#star-rating {
  visibility: hidden;
}

#description-hidden {
  display: none;
}

.feature {
  font-family: FontAwesome;
}

.feature::before {
  content: "\f00c \00a0\00a0";
}

.review-item {
  border: 2px solid black;
  border-radius: 2px;
}

.review-browser {
  display: inline-block;
  width: 50%;
}

.review-breakdown {
  display: inline-block;
  width: 50%;
}
