:root {
  --primary-font: "Poppins", "sans-serif";
  --font-color: #525252;
}

body {
  font-family: var(--primary-font);
  margin: 0;
}

button:hover {
  cursor: pointer;
}

a {
  font-weight: 200;
  font-size: 0.8em;
  text-decoration: underline;
  color: var(--font-color);
}

h1 {
  font-weight: 600;
  font-size: 3em;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

h2 {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--font-color);
}

h3 {
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

p {
  color: var(--font-color);
}

.stars-outer {
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f005\f005\f005\f005\f005";
  color: var(--font-color);
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: var(--font-color);
}

.stars-inner::before {
  content: "\f005\f005\f005\f005\f005";
}

.relatedProductsContainer {
  overflow-x: hidden;
  white-space: nowrap;
  margin: 40px;
}
.myOutfitsContainer {
  overflow-x: hidden;
  white-space: nowrap;
  margin: 40px;
}
.card {
  display: inline-block;
  margin: 10px;
  border: 1px solid grey;
  width: 150px;
  height: 250px;
}
.cardImage {
  margin: 0px;
  text-align: center;
}

.cardText {
  margin: 0px;
  text-align: left;
  white-space: normal;
}

#star-rating {
  visibility: hidden;
}

#description-hidden {
  display: none;
}

.feature {
  font-family: FontAwesome;
}

.feature::before {
  content: "\f00c \00a0\00a0";
}

#ratings-reviews {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#navbar {
  height: 4.5em;
  background-color: var(--font-color);
  margin-bottom: 1em;
  box-shadow: 0px 1px #dededf;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#navbar img {
  bottom: 0;
  margin: 1em;
}

.review-item {
  border: 2px solid black;
  border-radius: 2px;
  width: -webkit-fill-available;
}

.review-browser {
  display: inline-block;
  width: 50%;
}

.review-browser div {
  display: inline-block;
}

#add-review-button {
  display: flex;
  flex-direction: row;
}

button {
  display: inline-block;
}
.review-breakdown {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: top;
  padding: 20px;
}

#garf {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  size: 25vh;
}

#review-progress {
  width: 50%;
  background-color: grey;
}

#review-bar {
  width: 34%;
  height: 10px;
  background-color: black;
}

#garf-text {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 26vh;
  width: 10em;
}

#style-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 44vh;
}

.style-btn {
  border-radius: 50%;
  white-space: nowrap;
  font-size: 5em;
  border: none;
  width: 9vh;
  height: 9vh;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--font-color);
  position: relative;
  outline: none;
  margin: 1vh;
}

.style-btn:hover {
  cursor: pointer;
}

.checkmark {
  font-family: FontAwesome;
  vertical-align: center;
  text-align: center;
  top: 0;
  right: 0;
  width: 2vh;
  height: 2vh;
  border: 1px solid var(--font-color);
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.checkmark i {
  position: relative;
  color: var(--font-color);
  font-size: 2vh;
  position: absolute;
  top: 0;
  right: 0;
}

.disabled {
  display: none;
}

#selected-outer {
  font-weight: 800;
}

#selected-label {
  font-weight: 300;
}

.original-price, .normal-price {
  color: var(--font-color);
  font-weight: 300;
}

.original-price {
  text-decoration: line-through;
}

.discounted-price {
  color: red;
  font-weight: 300;
}

#app-inner {
  padding: 3vh;
}

#image-gallery {
  width: 80vh;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
  background-size: auto 100%;
}