/* GENERAL STYLES */
:root {
  --primary-font: "Poppins", "sans-serif";
  --font-color: #525252;
  --font-light: #707070;
  --font-extra-light: #ebebeb;
  --secondary-color: white;
  --navbar-color: #525252;
}

[theme="dark"] {
  --font-color: white;
  --secondary-color: #333333;
  --secondary-light: #383838;
  --font-light: #3f3f3f;
  --navbar-color: #333333;
}

#logo-text {
  font-family: "Abril Fatface", cursive;
  font-size: 3em;
  color: white;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  overflow-x: hidden;
  background-color: var(--secondary-color);
}

button {
  color: var(--font-color);
}

span {
  color: var(--font-color);
}

button:hover {
  cursor: pointer;
}

a {
  font-weight: 200;
  font-size: 0.8em;
  text-decoration: underline;
  color: var(--font-color);
}

h1 {
  font-weight: 600;
  font-size: 3em;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

h2 {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--font-color);
}

h3 {
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

p {
  color: var(--font-color);
}

/* RATINGS */

.stars-outer {
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f005\f005\f005\f005\f005";
  color: var(--font-color);
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: var(--font-color);
}

.stars-inner::before {
  content: "\f005\f005\f005\f005\f005";
}

/* MODAL */

.relatedProductsContainer {
  overflow-x: hidden;
  white-space: nowrap;
  margin: 100px;
}
button.exitComparisonWindow {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid var(--font-color);
  background-color: transparent;
}
button.exitComparisonWindow:hover {
  color: red;
  border-color: red;
}
.FeatureComparisonTable {
  text-align: center;
  /* border: 2px solid black; */
  border-collapse: collapse;
  font-size: 18px;
  color: var(--font-color);
}
.FeatureComparisonTable td {
  border-bottom: 2px solid var(--font-color);
  padding-left: 10px;
  padding-right: 10px;
  width: 175px;
  /* border-collapse: collapse; */
}
.FeatureComparisonTable tr.tableHeader td {
  font-weight: 800;
  font-size: 20px;
  color: var(--font-color);
}
.comparisonModal {
  position: absolute;
  top: 35%;
  left: 35%;
  right: 35%;
  width: fit-content;
  text-align: center;
  background-color: var(--secondary-color);
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* do not change */
  background-color: rgba(0, 0, 0, 0.6);
}

.Modal .comparison-header {
  text-align: center;
}
.actionButtonContainer .actionButton {
  background-image: url(/img/baseline_star_border_black_24dp.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
}

.actionButtonContainer .actionButton:hover {
  filter: invert(50%);
}

/* OUTFITS */

.myOutfitsContainer {
  overflow-x: hidden;
  white-space: nowrap;
  margin: 100px;
}
.card {
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  border: 2px solid var(--font-color);
  color: var(--font-color);
  position: relative;
  width: 12vw;
  height: 400px;
}
.card .productTitle {
  font-size: 15px;
  font-weight: 900;
}
.card .category {
  font-size: 12px;
  font-weight: normal;
}
.card .price {
  font-size: 12px;
  font-weight: normal;
}
.cardImage img {
  object-fit: cover;
  max-height: 250px;
  padding-bottom: 125px;
  bottom: 125px;
  max-height: 300px;
  width: 275px;
}
.cardText {
  padding: 3px;
  margin: 0px;
  text-align: left;
  /* border-bottom: transparent; */
  white-space: normal;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.cardText:hover,
.cardText:focus {
  text-decoration: underline;
}
.removeCardButton {
  background-image: url(/img/close-24px.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}
.removeCardButton:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
  /* filter: invert(100%); */
}
.addProductButton {
  text-align: center;
}
.addProductButton:hover {
  cursor: copy;
}

#addToMyOutfitButton {
  font-size: 100px;
  font-weight: 900;
}
#addToMyOutfitText {
  font-size: 28px;
  font-weight: 700;
}

/* forward button on My Outfit carousel */
.sc-ifAKCX.geRExE.sc-EHOje.aoTUt button {
  background-color: transparent;
  color: black;
  border: transparent;
  font-size: 34px;
  font-weight: 700;
}
/* back button on my outfit carousel */
.sc-ifAKCX.geRExE.sc-bZQynM.dHQcjo button {
  background-color: transparent;
  color: var(--font-color);
  border: transparent;
  font-size: 34px;
  font-weight: 700;
}
/* forward button on Related Products carousel */
.sc-ifAKCX.geRExE.sc-EHOje.dFFQiB button {
  background-color: transparent;
  color: var(--font-color);
  border: transparent;
  font-size: 34px;
  font-weight: 700;
}
/* back button on related products carousel */
.geRExE.kaHnvc.sc-bZQynM.sc-ifAKCX button {
  background-color: transparent;
  color: var(--font-color);
  border: transparent;
  font-size: 34px;
  font-weight: 700;
}

#star-rating {
  visibility: hidden;
}

#description-hidden {
  display: none;
}

/* FEATURES */
.feature-check {
  font-family: FontAwesome;
}

.feature-check::before {
  content: "\f00c \00a0\00a0";
}

#ratings-reviews {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#navbar {
  height: 4.5em;
  background-color: #333333;
  box-shadow: 0px 1px var(--secondary-light);
  /* font-style: ; */
}

#garf {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  size: 25vh;
}

#garf-text {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 26vh;
  width: 10em;
}

#style-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 44vh;
}

.style-btn {
  border-radius: 50%;
  white-space: nowrap;
  font-size: 5em;
  border: none;
  width: 9vh;
  height: 9vh;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--font-color);
  position: relative;
  outline: none;
  margin: 1vh;
}

.style-btn:hover {
  cursor: pointer;
}

.checkmark {
  font-family: FontAwesome;
  vertical-align: center;
  text-align: center;
  top: 0;
  right: 0;
  width: 2vh;
  height: 2vh;
  border: 1px solid var(--font-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
}

.checkmark i {
  position: relative;
  color: var(--font-color);
  font-size: 2vh;
  position: absolute;
  top: 0;
  right: 0;
}

.fa-circle {
  color: white;
}

.disabled {
  display: none;
}

#selected-outer {
  font-weight: 800;
}

#selected-label {
  font-weight: 300;
}

.normal-price,
.discounted-price {
  margin-top: 0;
  font-size: 1.8vh;
}

.original-price,
.normal-price {
  color: var(--font-color);
  font-weight: 300;
}

.original-price {
  text-decoration: line-through;
}

.discounted-price {
  color: red;
  font-weight: 300;
}

#app-inner {
  padding: 3vh;
}

#image-gallery,
#image-gallery-expanded {
  width: 100vh;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--font-light);
  background-size: auto 100%;
  position: relative;
}

#image-gallery-expanded,
#zoomed {
  width: 100%;
}

#zoomed {
  background-size: 250%;
}

#image-carousel,
#image-carousel-icons {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: hidden;
  margin-top: 3.5vh;
  user-select: none;
}

#image-carousel-icons {
  margin-top: 8vh;
}

.gallery-img,
.gallery-img-selected {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2vh;
  margin-left: 2vh;
  min-height: 8vh;
  overflow: auto;
  overflow: hidden;
  width: 8vh;
  height: 8vh;
  background-color: var(--font-color);
  border: 1px solid #525252;
  cursor: pointer;
}

.gallery-img-selected {
  border-bottom: 5px solid var(--secondary-color);
}

.gallery-img img,
.gallery-img-selected img {
  width: 200%;
  height: auto;
}

.fa-chevron-down,
.fa-chevron-up {
  position: absolute;
  font-size: 2vh;
  color: white;
  left: 5vh;
  cursor: pointer;
  user-select: none;
}

.fa-chevron-down {
  bottom: 2.5vh;
}

.fa-chevron-up {
  top: 3vh;
}

#overview-top {
  display: flex;
  justify-content: center;
}

#prod-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3vh;
  margin-top: 3vh;
}

#prod-info-wrapper-hidden {
  display: none;
}

#prod-overview {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 4vh auto;
}

#features {
  width: 20%;
  display: inline-block;
}

#description {
  width: 80%;
  border-right: 2px solid var(--font-light);
  padding-right: 3vh;
  display: inline-block;
}

.feature {
  font-weight: 300;
}

.fa-arrow-right,
.fa-arrow-left {
  position: absolute;
  font-size: 2vh;
  color: white;
  top: 50%;
  cursor: pointer;
  user-select: none;
  color: white;
}

.fa-arrow-right {
  right: 5vh;
}

.fa-arrow-left {
  left: 11vh;
}

/* 
start of review component styles
 */

/*
 start review card styles
 */

/*
 start review card styles
 */

.full-browser {
  width: 50%;
  margin-right: 15%;
  margin-top: 200px;
  max-height: 100vh;
  margin-bottom: 40px;
}

.review-browser {
  /* display: inline-block; */
  /* margin-top: 15px; */
  max-height: 600px;
  /* margin-top: 100px; */

  /*
  overflow-y: hidden;
  overflow-x: hidden; */

  word-wrap: break-word;
}

.review-list {
  overflow-y: auto;
  max-height: 600px;
  max-width: 600px;
  width: 100%;
}

.select-div {
  display: flex;
}

.sort-select {
  outline: none;
  display: inline-block;
  /* border: none; */
  border: 2px solid black;
  background-color: white;
}

.helpful-report {
  font-size: 0.6em;
  display: flex;
  margin-bottom: 2%;
}

.container-full {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.review-card-stars {
  margin-right: auto;
}

.review-card-name-date {
  /* display: flex; */
  font-size: 0.8em;
  justify-content: end;
}

.review-card-summary {
  max-width: 90%;
  font-weight: 600;
  font-size: 1.2em;
  color: var(--font-color);
}

.review-body-text {
  font-weight: 100;
  font-size: 1em;
  max-width: 90%;
  color: var(--font-color);
}

.review-item {
  margin-top: 30px;
  border-bottom: 1px solid black;
  /* border: 2px solid black; */
  /* border-radius: 2px; */
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

/*
 end review card styles
 :active
 */

#add-review-button {
  display: flex;
  flex-direction: row;
}

#review-paginate-button {
  outline: none;
  /* display: inline-block; */
  /* border: none; */
  border: 1px solid black;
  background-color: white;
  margin-top: 40px;
  margin-right: 20px;

  height: 60px;
  width: 155px;
  font-weight: 650;
  font-size: 1em;
}

#review-paginate-button:active {
  outline: none;
  /* display: inline-block; */
  /* border: none; */
  border: 1px solid black;
  background-color: black;
  margin-top: 40px;
  margin-right: 20px;

  height: 60px;
  width: 155px;
  font-weight: 650;
  font-size: 1em;
  color: white;
}

.modal-button-block {
  /* margin-top: -20px; */
}

.modal-submit {
  outline: none;

  border: 1px solid black;
  background-color: white;

  height: 50px;
  width: 100px;
  font-weight: 650;
  font-size: 1em;
  margin-left: 10px;
}

/* #review-submit-button {
  outline: none;
  
  border: 1px solid black;
  background-color: white;
  
  height: 60px;
  width: 185px;
  font-weight: 650;
  font-size: 1em;
} */
/* 
#review-submit-button:active {
  outline: none;
  
  border: 1px solid black;
  background-color: black;
  margin-top: 40px;
  height: 60px;
  width: 185px;
  font-weight: 650;
  font-size: 1em;
  font-size: 1em;
  color: white;
} */

/* .browser-button-block {
  display: flex;
} */

/* button {
  display: inline-block;
}

.star-filter-selectors {
  display: flex;
  flex-direction: row;
} */
/* 
.star-filter-text {
  font-weight: 300;
  font-size: 1em;
} */

/* .review-breakdown-star-block {
  display: flex;
  justify-content: row;
  align-content: flex-end;
  display: inline-block;
  
} */

/* #review-breakdown-average-stars {
 
  max-height: 10px;
  font-size: 0.5em;
} */
/* 
#review-breakdown-average-stars2 {
  max-height: 10px;
  height: 10px;
  display: inline-block;
} */
/* 
#review-breakdown-average {
  font-size: 2em;
} */

.char-slider {
  display: flex;
  min-width: 100%;
}

/* .char-empty-slider-segment {
  display: inline-block;
  padding: 4px;
}

.char-slider-segment {
  z-index: -1;
  position: relative;
  background-color: #ebebeb;
  min-width: 70px;
  height: 7px;
  display: inline-block;
  top: 7px;
}

.full-slider {
  margin-top: 11px;
} */

/* 
.slider-label-end {
  display: inline-block;
  margin-right: 0px;
  font-size: 0.8em;
  color: var(--font-color);
  font-weight: 100;
  
} */

.fas.fa-caret-down {
  position: relative;
  /* z-index: 2; */
}
.single-stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.single-stars-outer::before {
  content: "\f005  ";
  color: var(--font-color);
}

.single-stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  font-style: solid;
  color: var(--font-color);
}

.single-stars-inner::before {
  content: "\f005  ";
}
.inline-div {
  display: inline-block;
}

.click-text {
  text-decoration: underline;
}

#report-text {
  margin-left: 40px;
}
/*
 end of review component styles
 */

/*
 start review card styles
 */

.full-browser {
  width: 50%;
  margin-right: 15%;
  margin-top: 10%;
  max-height: 100vh;
  margin-bottom: 40px;
}

.review-browser {
  /* display: inline-block; */
  /* margin-top: 15px; */
  max-height: 600px;

  /*
  overflow-y: hidden;
  overflow-x: hidden; */

  word-wrap: break-word;
}

.review-list {
  overflow-y: auto;
  max-height: 600px;
  max-width: 600px;
  width: 100%;
}

.select-div {
  display: flex;
}

.sort-select {
  outline: none;
  display: inline-block;
  /* border: none; */
  border: 2px solid var(--font-color);
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.helpful-report {
  font-size: 0.6em;
  display: flex;
  margin-bottom: 2%;
}

.container-full {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.review-card-stars {
  margin-right: auto;
}

.review-card-name-date {
  font-size: 0.8em;
  justify-content: end;
  color: var(--font-color);
}

.review-card-summary {
  max-width: 90%;
  font-weight: 600;
  font-size: 1.2em;
  color: var(--font-color);
}

.review-body-text {
  font-weight: 100;
  font-size: 1em;
  max-width: 90%;
  color: var(--font-color);
}

.review-item {
  margin-top: 30px;
  border-bottom: 1px solid var(--font-color);
  /* border: 2px solid black; */
  /* border-radius: 2px; */
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

/*
 end review card styles
 :active
 */

#add-review-button {
  display: flex;
  flex-direction: row;
}

#review-paginate-button {
  outline: none;
  /* display: inline-block; */
  /* border: none; */
  border: 1px solid var(--font-color);
  background-color: var(--secondary-color);
  margin-top: 40px;
  margin-right: 20px;

  height: 60px;
  width: 155px;
  font-weight: 650;
  font-size: 1em;
}

#review-paginate-button:active {
  outline: none;
  /* display: inline-block; */
  /* border: none; */
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
  margin-top: 40px;
  margin-right: 20px;

  height: 60px;
  width: 155px;
  font-weight: 650;
  font-size: 1em;
  color: var(--secondary-color);
}

.modal-submit {
  outline: none;
  /* display: inline-block; */
  /* border: none; */
  border: 1px solid black;
  background-color: white;
  margin-top: 40px;
  height: 60px;
  width: 185px;
  font-weight: 650;
  font-size: 1em;
}

#review-submit-button {
  outline: none;
  /* display: inline-block; */
  /* border: none; */
  border: 1px solid var(--font-color);
  background-color: var(--secondary-color);
  margin-top: 40px;
  height: 60px;
  width: 185px;
  font-weight: 650;
  font-size: 1em;
}

#review-submit-button:active {
  outline: none;
  /* display: inline-block; */
  /* border: none; */
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
  margin-top: 40px;
  height: 60px;
  width: 185px;
  font-weight: 650;
  font-size: 1em;
  font-size: 1em;
  color: var(--secondary-color);
}

.validation-note {
  font-size: 0.8em;
  font-size: 0.8em;
}

.browser-button-block {
  display: flex;
}

button {
  display: inline-block;
}

.star-filter-selectors {
  display: flex;
  flex-direction: row;
}

.star-filter-text {
  font-weight: 300;
  font-size: 1em;
}

.review-progress {
  margin-top: 11.5px;
  margin-left: 10px;
  height: 10px;
  width: 50%;
  background-color: var(--font-extra-light);
}

.review-bar {
  /* margin-left: 10px; */
  width: 0%;
  height: 10px;
  background-color: var(--font-light);
}

.review-breakdown {
  margin-top: 9%;
  width: 30%;
  text-align: left;

  padding: 5px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}

.review-breakdown-star-block {
  display: flex;
  height: 70px;
  align-content: flex-end;
  padding: 5px;
}

#review-breakdown-average-stars {
  top: 20px;
}

#review-breakdown-average {
  font-size: 3.7em;
  margin-top: -8px;
}

#review-breakdown-average-stars2 {
  margin-left: 5px;
  margin-top: 11px;
  font-size: 1em;
}

.char-slider {
  display: flex;
  min-width: 100%;
}

.slider-label,
.slider-label-end {
  color: var(--font-color);
}

.char-empty-slider-segment {
  display: inline-block;
  padding: 4px;
}

.char-slider-segment {
  z-index: -1;
  position: relative;
  background-color: var(--font-extra-light);
  min-width: 70px;
  height: 7px;
  display: inline-block;
  top: 7px;
}

.full-slider {
  margin-top: 11px;
}

.slider-labels {
  width: 60%;
  justify-content: space-between;
  display: inline-block;
  /* justify-content: space-between; */
  align-content: flex-end;
  flex-direction: row;
  display: flex;
  font-size: 0.8em;
  color: var(--font-color);
  font-weight: 100;
}

.slider-label {
  display: inline-block;
  /* margin-right: 0px; */
  margin-left: 0px;
  font-size: 0.8em;
  color: var(--font-color);
  font-weight: 100;
  /* margin-left: 40%; */
}

.slider-label-end {
  display: inline-block;
  /* margin-right: 0px; */
  margin-left: 0px;
  font-size: 0.8em;
  color: var(--font-color);
  font-weight: 100;
  /* margin-left: 40%; */
}

.fas.fa-caret-down {
  position: relative;
}
.single-stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.single-stars-outer::before {
  content: "\f005  ";
  color: var(--font-color);
}

.single-stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  font-style: solid;
  color: var(--font-color);
}

.single-stars-inner::before {
  content: "\f005  ";
}
.inline-div {
  display: inline-block;
}

.click-text {
  text-decoration: underline;
}
/*
 end of review component styles
 */

/* 
end of review component styles
 */

.fas.fa-caret-down {
  color: var(--font-color);
}

.dropdown-opened {
  position: absolute;
  height: 100%;
}

.dropdown-closed {
  position: relative;
  height: 0%;
}

#add-to-cart {
  display: flex;
  flex-wrap: wrap;
  width: 50vh;
}

#size-selector {
  width: 70%;
}

#qty-selector {
  width: 20%;
}

#add-to-bag {
  width: 75%;
}

#heart-btn {
  width: 15%;
}

.cart-btns {
  background-color: var(--secondary-color);
  padding: 1em;
  margin: 1vh;
  text-align: left;
  font-size: 2vh;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.cart-btns:active {
  color: var(--secondary-color);
  background-color: var(--font-color);
}

#reviews-link {
  margin-left: 1vh;
}

#share-buttons {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.fa-expand {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 2vh;
  color: white;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  outline: none;
}

.gallery-img-icon,
.gallery-img-icon-selected {
  width: 5vh;
  height: 5vh;
  position: relative;
  margin: 0 0 5vh 5vh;
  color: var(--secondary-color);
  cursor: pointer;
}

/* Q AND A */
.answer-btn {
  border: none;
  text-decoration: underline;
  color: var(--font-color);
  background-color: var(--secondary-color);
}

.question-btn {
  width: 250px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 18px;
  margin-left: 15%;
  height: 46px;
  cursor: pointer;
  font-weight: bold;
}

.answer {
  font-size: 15px;
  padding-top: 40px;
  margin-bottom: 20px;
  color: var(--font-color);
}

.answer-a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  color: var(--font-color);
}

.answer-sub {
  font-size: 14px;
  color: var(--font-color);
  margin-left: 26px;
}

.answer-space {
  margin-right: 10px;
  margin-left: 10px;
}

.underline {
  text-decoration: underline;
}

.reported {
  border-left: 6px solid;
  border-color: #2196f3;
  background-color: #ddffff;
}

.answer-list-btn {
  border: none;
  color: var(--font-color);
  background-color: var(--secondary-color);
  text-decoration: underline;
  font-weight: bold;
  margin-left: 20px;
  font-size: 13px;
}

.images-thumbnail {
  border: 1px solid var(--font-color);
  height: 150px;
  margin-left: 26px;
}

.images-h3 {
  text-align: center;
  font-weight: bold;
  color: #525252;
}

.images-modal-photo {
  height: 600px;
  background-color: var(--secondary-color);
}

.modal-btn {
  width: 30%;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 12px 0;
  cursor: pointer;
  font-weight: bold;
}

.modal-input {
  width: 70%;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding: 6px 16px;
  margin: 12px 0;
}

.question {
  font-weight: bold;
  font-size: 16px;
  color: var(--font-color);
}

.helpfulness {
  font-size: 12px;
  float: right;
}

.space {
  margin-right: 10px;
  margin-left: 10px;
}

.question-container {
  margin-left: 15%;
  margin-right: 15%;
}

.question-scroll {
  overflow-y: auto;
  height: 600px;
  padding-right: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
}

.question-input {
  width: 100%;
  padding: 12px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid var(--font-color);
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
}

.question-list-btn {
  width: 280px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 18px;
  height: 46px;
  cursor: pointer;
  font-weight: bold;
}

#searchBar {
  color: var(--font-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.toggle-icon {
  font-size: 3em;
  float: right;
  user-select: none;
  -moz-user-select: none;
}

.fa-toggle-on,
.fa-toggle-off {
  cursor: pointer;
}

.toggle {
  font-size: 3.5vh;
  padding: 1vh;
}

#theme-toggle {
  position: absolute;
  top: 0;
  right: 0;
}
